#background {
  background-image: linear-gradient(to right top,rgba(100,100,100,0.5),rgba(120,120,120,0.9)),url("/photos/background_image.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
  line-height: 15px;
}

#header {
  background: linear-gradient(to right,rgba(230,195,0,0.5),rgba(255,232,102,1));
  background-attachment:scroll;
  padding: 5px;
}

img {
  height: 150px;
  color:#ff7d00;
  border:2px solid #666;
  position: relative;
}

h1 {
  font-size: 70px;
   display: block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;

}

table, th {
  background-attachment:scroll;
  text-align:center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10 10;
}

#admin{
position:absolute;
right:15px;
top:8px;
font-size: 16px;
background: #ffd700;
border: solid 1px black;
color: #ff0000;
}
#logout{
	position:fixed;
	
}
.topnav a.active{
	background-color: #ffd700;
	color: white;
	
}
.topnav{
	width:100%;
	background-color:#888;
	color:white;
	overflow:hidden;
}
.topnav a{
	float:left;
	padding: 10px;
	width:15%;
	text-decoration:none;
	font-size:17px;
	text-align: center;
}
.topnav a:hover{
	background-color:#ffd700;
	color:black;
}

