
#background{
background-image:linear-gradient(to right top,rgba(120,120,120,0.8),rgba(128,128,128,0.95)),url('/photos/cover_photo_redone.png');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
}
#header {
  background: linear-gradient(to right,rgba(230,195,0,0.5),rgba(255,232,102,1));
  background-attachment:scroll;
}

img {
  height: 150px;
  color:#ff7d00;
  border:2px solid #666;
  position: relative;
}

h1 {
  font-size: 70px;
   display: block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;

}

table, th {
  background-attachment:scroll;
  text-align:center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10 10;
}
#navigation {
text-align:center;
background-attachment: scroll;

} 
#navigation ul {
list-style:none;
display:block;
margin: 0;
padding: 0;
}

#navigation li {
list-style:none;
display: inline-block;
border: 1px solid black;
}


#admin{
position:absolute;
right:15px;
top:8px;
font-size: 16px;
background: #ffd700;
border: solid 1px black;
color: #ff0000;
}
#logout{
	position:fixed;
	
}
.topnav a.active{
	background-color: #ffd700;
	color: white;
	
}
.topnav{
	width:100%;
	background-color:#888;
	color:white;
	overflow:hidden;
}
.topnav a{
	float:left;
	padding: 10px;
	width:18%;
	text-decoration:none;
	font-size:17px;
	text-align: center;
}
.topnav a:hover{
	background-color:#ffd700;
	color:black;
}
