body {
  background:linear-gradient(to right,rgba(100,100,100,0.2),rgba(128,128,128,0.9));
}

#header {
  background: linear-gradient(to right,rgba(230,195,0,0.5),rgba(255,232,102,1));
  background-attachment:scroll;
}

img {
  height: 150px;
  color:#ff7d00;
  border:2px solid #666;
  position: relative;
}

h1 {
  font-size: 70px;
   display: block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;

}
.sidenav {
    width: 200px;
    height:100%;
	z-index: 1;
    top: 0;
    left: 0;
    background-color: #888;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.dropbtn {
    background-color: #888;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffd700;}

.topnav a.active{
	background-color: #ffd700;
	color: white;
	
}
.topnav{
	width:100%;
	background-color:#888;
	color:white;
	overflow:hidden;
}
.topnav a{
	float:left;
	padding: 10px;
	width:15%;
	text-decoration:none;
	font-size:17px;
	text-align: center;
	color:black;
}
.topnav a:hover{
	background-color:#ffd700;
	color:black;
}
.footer {
	left: 0;
    bottom: 0;
    width: 100%;
    background-color: #888;
    color: white;
    text-align: center;
}
.footer p {
	display:inline;
}