body {
  background-image: linear-gradient(to right, rgba(100,100,100,0.1),rgba(128,128,128,0.9));
  line-height: 15px;
}

#header {
  background: linear-gradient(to right,rgba(230,195,0,0.5),rgba(255,232,102,1));
  background-attachment:scroll;
  padding:5px;
}

img {
  height: 100px;
}

h1 {
  font-size: 70px;
   display: block;
  text-align:center;
  padding: 20 20;
  background: linear-gradient(to bottom,rgba(255,232,1,0.5),rgba(255,215,0,0.9));

}

table {
  background: linear-gradient(to bottom,rgba(255,232,1,0.1),rgba(255,215,0,0.9));
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding 10 10;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align:center;
}
#navigation ul {
list-style:none;
display:block;
margin: 1 28%;
padding: 15 15;
}

#navigation li {
list-style:none;
display: inline-block;
}

#navigation a {
color: #ffd700;
font-weight: bold;
padding: 5px 10px;
text-decoration: none;
}
#navigation a:hover {
color: #ffff00;
}

h2{
text-align:center;
background: linear-gradient(to bottom,rgba(255,232,1,0.1),rgba(255,215,0,0.9));
padding:10 10;
}
h3{
text-align:center;
background: linear-gradient(to bottom,rgba(255,232,1,0.1),rgba(255,215,0,0.9));
padding:10 10;
}
#logout{
	position:fixed;
	
}
.topnav a.active{
	background-color: #ffd700;
	color: white;
	
}
.topnav{
	width:100%;
	background-color:#888;
	color:white;
	overflow:hidden;
}
.topnav a{
	float:left;
	padding: 10px;
	width:15%;
	text-decoration:none;
	font-size:17px;
	text-align: center;
}
.topnav a:hover{
	background-color:#ffd700;
	color:black;
}
