body {
  padding: 10px 20px;
  border: solid 1px #ffd700;
  line-height: 15px;
  margin:0px 40px;
  background-image:linear-gradient(to right angle,rgba(120,120,120,0.8),rgba(128,128,128,0.95)),url('/main_page/cover_photo.PNG');
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;

}

#header {
  background: linear-gradient(to right,rgba(230,195,0,0.5),rgba(255,232,102,1));

}

img {
  height: 100px;
  color:#ff7d00;
  border:1px solid #666;
  position: relative;
}

h1 {
  font-size: 70px;
   display: block;
  margin-left:auto;
  margin-right:auto;
  width: 20%;
  float:center;

}

table, th {
  background: #ffd700;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10 10;
    margin: 10 10;
}
#navigation ul {
list-style:none;
display:block;
margin: 1 28%;
padding: 15 15;
}

#navigation li {
list-style:none;
display: inline-block;
border: 1px solid black;
}

#navigation a {
color: black;
font-weight: bold;
padding: 5px 10px;
}
#navigation a:hover {
color: #ffff00;
text-decoration:underline;
}

#navigation #currentpage a {
background: #ffd700;
}
#navigation #page_1 a{
background: #ffd7;
}
#navigation #page_2 a{
background: #ffd7;
}
#navigation #page_3 a{
background: #ffd7;
}
#navigation #page_4 a{
background: #ffd7;
}
#navigation #admin a{
background:#444;
color:#ffd7;
}
#admin{
position: absolute;
right: 45px;
font-size: 16px;
}

