.box{
	height: 100px;
	width: 25%;
	border: solid black 1px;
	margin 2 2;
	padding 10 10;
	text-align: center;
	line-height: 100px;
}
 #one{
 background-color:#666666;
 position: fixed;
 top 10px;
 left 10px;

}

