body {
  background-color: #DDD;
}

#header {
  background-color: #DDD;
}

h1 > img {
  height: 100px;
}

h1 {
  font-size: 70px;
}

th {
  background-color: #AAA;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10 10;
    margin: 10 10;
}
ul{
	display:block;
	margin-left:40px;
}
> li{
	display:inline;

}
