#navigation ul {
list-style: none;
margin: 2 2;
padding: 10 10;
}

#navigation li {
background: #ccc;
border-left: 1px solid #999;
float: left;
margin: 2 2;
padding: 10 10;
display: inline;
}

#navigation a {
color: #666;
font-weight: bold;
padding: 5px 10px;
text-decoration: none;
}

#navigation a:hover {
color: #333;
}

#navigation #currentpage a {
background: #fff;
color: #333;
}
#navigation #page_1 a{
background: #fff;
color: #333;
}
#navigation #page_2 a{
background: #fff;
color: #333;
}
#navigation #page_3 a{
background: #fff;
color: #333;
}
#navigation #page_4 a{
background: #fff;
color: #333;
}

