body {
  background-image: linear-gradient(to right,rgba(120,120,120,0.9),rgba(150,150,150,0.3)),url("/page_1/background_image2.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
  line-height: 15px;
}

#header {
  background: #ffd700;
  text-align:center;
}

img {
  height: 100px;
  text-align:center;
}

h1 {
  background:#ffd700;
  padding: 10 10;

}

table, th {
  background: #ffd700;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10 10;
    margin: 10 10;
}
#navigation ul {
list-style:none;
display:block;
margin: 1 28%;
padding: 15 15;
}

#navigation li {
list-style:none;
display: inline-block;
}

#navigation a {
color: #ffd700;
font-weight: bold;
padding: 5px 10px;
text-decoration: none;
}
#navigation a:hover {
color: #ffff00;
}

#navigation #currentpage a {
background: #444;
color: #ffd700;
}
#navigation #page_1 a{
background: #444;
color: #ffd700;
}
#navigation #page_2 a{
background: #444;
color: #ffd700;
}
#navigation #page_3 a{
background: #444;
color: #ffd700;
}
#navigation #page_4 a{
background: #444;
color: #ffd700;
}
#navigation #admin a{
background:#444;
color: #ffd700;
}
#admin{
position: absolute;
top 15%;
right: 45px;
font-size: 16px;
}

